* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

body {
	font-family: "Arial", sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	color: #fff;
	background: url("../images/background.png")
}

.clearfix {
	clear: both;
}

#container {
	width: 330px;
	min-height: 400px;
	background: #333;
	overflow: auto;
	margin: 60px auto;
	border: #666 solid 2px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#audio-img {
	position: relative;
	overflow: hidden;
	height: 250px;
	margin-bottom: 15px;
	
}

.cover {
	width: 100%;
	z-index: 1;
}

#audio-info {
	text-align: center;
}

#audio-info .artist {
	font-weight: bold;
}

input#volume {
	width: 95%;
	-webkit-appearance: none !important;
	margin-left: 2%;
	background: #ccc;
	height: 1px;
	margin-bottom: 20px;
	
}

input#volume::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background: url("../images/circle.png") no-repeat;
	height: 16px;
	width: 16px;
}

#audio-buttons {
	width: 90%;
	display: block;
	margin: 15px auto;
	margin-left: 23px;
	overflow: auto;
}

button#play {
	width: 64px;
	height: 64px;
	background: url("../images/play-button.png");
	float: left;
}

button#pause {
	width: 64px;
	height: 64px;
	background: url("../images/pause.png");
	float: left;
}

button#stop {
	width: 64px;
	height: 64px;
	background: url("../images/stop.png");
	float: left;
}

button#prev {
	width: 64px;
	height: 64px;
	background: url("../images/back.png");
	float: left;
}

button#next {
	width: 64px;
	height: 64px;
	background: url("../images/next.png");
	float: right;
}

#palylist {
	list-style: none;
	padding: 10px;
}

#playlist li {
	cursor: pointer;
	margin: 5px;
}

#playlist li.active {
	font-weight: bold;
	padding: 3px;
	background: #666;
}


#progressbar {
	width: 80%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	height: 10px;
	background: #ccc;
	border-radius: 5px;
	float: left;
}

#progress {
	background: #1853f2;
	height: 10px;
	display: inline-block;
	border-radius: 5px;
	width: 264px;
	margin-bottom: 5px;	
}

#duration {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 4px 8px;
	background: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#tracker {
	position: relative;
	width: 100%;
}
